/* PollCreation.css */
.poll-creation-container {
  background-color: #fef5e7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; /* Added position */
}

.wallet-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px; /* Add margin for spacing */
}

.connect-wallet-button {
  background-color: #7b1fa2;
  color: #ffce56;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-wallet-button:hover {
  background-color: #692a8e;
}

.poll-creation-heading {
  color: #7b1fa2;
}

.poll-creation-tagline {
  color: #141413;
  margin-bottom: 20px;
}

.poll-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #7b1fa2;
  border-radius: 5px;
}

.create-poll-button,
.connect-wallet-button {
  background-color: #7b1fa2;
  color: #ffce56;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-poll-button:hover,
.connect-wallet-button:hover {
  background-color: #692a8e;
}

.error-message {
  color: red;
  margin-top: 10px;
}


.poll-list-container {
  text-align: center;
  margin-top: 20px;
}

.poll-list-heading {
  font-weight: bold;
  font-size: 24px;
  color: #7b1fa2;
}

.poll-card {
  border: 4px solid #7b1fa2;
  background-color: #ffce56;
  padding: 10px;
  margin: 10px 0;
}

.yes-votes {
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.no-votes {
  background-color: red;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
